html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  display: grid;
  place-content: center;
}
#generator {
  height: 400px;
  width: 400px;
  border: black 2px solid;
}
.options {
  display: flex;
  flex-direction: column;
}
